.portfolio-container{
    background-image: url(../photo/svg/Colored\ Shapes2.svg);
}
section.portfolio-container .photo-gallery{
    display: grid;
    grid-template-columns: repeat(3,2fr);
}


.portfolio-title{
    margin: auto;
    text-align: center;
}

.photo-section{
    margin: 4rem 2rem 0.5em;
    border-radius: 19px;
    width: 80%;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135,     0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255,0.18 );
    transition: all .4s;
}

.effect-photo{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;    
    /* transition: transform .5s ease; */
    /* transition: transform .5s ease-in-out; */
    transition: transform .5s, filter .5s ease-in-out;
    filter: blur(0);
    transform: scale(1.2);
}

.photo-section:hover img{
    /* transform: scale(1.5); */
    /* transform: scale(1.4) rotate(25deg);
    transition: all .5s; */
    filter: blur(5px);
    transform: scale(1.5);
}

.photo-section:hover .photo-forground{
    display: block;
    
}


.photo-forground{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    transition: .5s ease-in;
}
.photo-forground li{
    position: relative;
    text-align: center;
    top: 100px;
    transition: ease-in .4s;
    
}


.photo-forground a{
    text-decoration: none;
    outline: none;
    background: #127ad4;
    padding: 1rem 2rem;
    color: white;
    border-radius: 23px;
    transition: .2s;
    
}


.photo-forground h1{
    position: relative;
    text-align: center;
    top: 50%;
    font-size: 2.5rem;
    z-index: -1;
    transition: .2s ease-in;
}

.photo-forground a:hover{
    background: rgba(255, 255, 255, 0.627);
    color: #333;
    box-shadow: 0 8px 32px 0 rgba(125, 131, 203, 0.551);
    border-radius: 23px;
}


